<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <center>
        <form  method="post">
        <label >Add new Family:</label><br>
        <label >Father's information:</label><br>
        <label >Full Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        Status: 
        Emloyee:
        <input type="radio" name="emp" value="employee" > 
        Not Employee:
        <input type="radio" name="not" value="not_employee" >
        <br> 
    <br>
        <label for="email">Number of family members:</label>
        <input type="number" name="num" required>
        <br>
        <label for="username">Phone number:</label>
        <input type="text" name="phone" required>
        <br>
        <label >Address:</label>
        East rural
        <input type="radio" name="east" value="east" > 
        West rural
        <input type="radio" name="west" value="west" >
        South rural
        <input type="radio" name="south" value="south" > 
        North rural
        <input type="radio" name="north" value="north" >
        <br>
        <br>
        <input type="submit" value="add"><br>
        </form>
        <a href="<?php echo BASE_PATH;?>"> Go Back Home </a> 
        </center>
    
</body>
</html>