<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
  
    <h2>Families</h2>
    
    <br> <br>  
    <table border=1>
     
        <tr>
    
        <td>full name</td>
        <td>status</td> 
        <td>members</td>  
        <td>phone number</td>      
        <!-- <td>Adress</td>       -->
        </tr>
           <tr>
            <?php foreach($arg as $user){?>
           <td><?php echo $user->getname();?></td>
             <td><?php echo $user->getstatus();?></td>
             <td><?php echo $user->getmember();?></td>
             <td><?php echo $user->getphone();?></td>
             <!-- <td><?php echo $user->getaddress;?></td> -->
             <td > <a href="editfamily/<?php echo $user->id;?>">  edit </a>
            <a href="deletuser/<?php echo $user->id;?>">  delete </a> </td>
             
            
             </tr><?php }?>
             </table>    
             <a href="addfamily">  add new family </a> </td>
    </center>
    
</body>
</html>