<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form  method="post">
        <h1>choose region to show the families<h1>
        <select name="addressSearch" id="address">
            <option value="city">City</option>
          <option value="esat">Esat</option>
          <option value="west">West</option>
          <option value="south">South</option>
          <option value="north">North</option>
        </select>
        <input type="submit" value="search"><br>
        </form>
        </center>
</body>
</html>